{% extends 'layout.html' %}
{% from 'macros.html' import make_menu %}
<!-- Inputs: questions (SelectQuery), email (str), is_authenticated (bool) -->

{% block content %}
{{ make_menu(email, is_authenticated) }}
<h2>Questions</h2>
{% if questions.count() %}
    {% for question in questions %}
        <a href="./view_question/{{ question.id }}">
            {{ question.text }}
        </a>
        <br/>
    {% endfor %}
{% else %}
No questions have been asked yet.
<a href="{{ url_for('new_question') }}">Be the first!</a>
{% endif %}
{% endblock %}