{% macro render_field(field) %}
{% if field.errors %}
<div class="u-full-width field errors">
    <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if field.label.text.lower() != 'csrf token' %}
    {{ field.label }}
    {{ field }}
{% endif %}
{% endmacro %}

{% macro make_menu(email, is_authenticated) %}
<nav>
    {% if is_authenticated %}
        Welcome, {{ email }}!
        <a href="{{ url_for('logout') }}">Log out</a> |
        <a href="{{ url_for('new_question') }}">New question</a>
    {% else %}
        <a href="{{ url_for('login') }}">Log in</a> |
        Not a member yet? <a href="{{ url_for('register') }}">Sign up</a>
    {% endif %}
</nav>
{% endmacro %}

